Repository NNPDF/eko: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt-eko, fmt-ekore

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
  autofix_prs: false
  skip: [fmt-eko, fmt-ekore]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.4.0
    hooks:
      - id: pycln
        args: [--config=pyproject.toml]
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.3.0
    hooks:
      - id: black
  - repo: https://github.com/asottile/blacken-docs
    rev: 1.16.0
    hooks:
      - id: blacken-docs
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.1
    hooks:
      - id: pyupgrade
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        files: ^src/
        args: ["--add-ignore=D107,D105"]
        additional_dependencies:
          - toml
  - repo: local
    hooks:
    - id: fmt-eko
      name: fmt-eko
      description: Format eko files with cargo fmt.
      entry: cargo fmt --manifest-path crates/eko/Cargo.toml --
      language: system
      files: ^crates/eko/.*\.rs$
      args: []
  - repo: local
    hooks:
    - id: fmt-ekore
      name: fmt-ekore
      description: Format ekore files with cargo fmt.
      entry: cargo fmt --manifest-path crates/ekore/Cargo.toml --
      language: system
      files: ^crates/ekore/.*\.rs$
      args: []
  - repo: https://github.com/pre-commit/pre-commit
    rev: v3.6.2
    hooks:
      - id: validate_manifest

rust: Add comment to bumb-versions
  crates/bump-versions.py
Due: none

Update crates/Readme
  crates/README.md
Due: none

Temporarily disable PyPI
  .github/workflows/crates.yml
  .github/workflows/maturin.yml
  .github/workflows/pypi.yml
Due: none

Reactivate PyPI
  .github/workflows/pypi.yml
Due: none

Update crates/ekore/src/anomalous_dimensions/unpolarized/spacelike/as2.rs
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike/as2.rs
Due: fmt-ekore

pre-commit changes
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike/as2.rs
Due: fmt-ekore

rust: Activate as2 if requested
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike.rs
  crates/ekore/src/constants.rs
Due: fmt-ekore

correct latex table header
  extras/lh_bench_23/parse_to_latex.py
  extras/lh_bench_23/tables/MSHT/N3LO_FHMRUVV_FFNS/N3LO_FHMRUVV_FFNS_Pggdn.dat
  extras/lh_bench_23/tables/MSHT/N3LO_FHMRUVV_FFNS/N3LO_FHMRUVV_FFNS_Pggup.dat
  extras/lh_bench_23/tables/MSHT/N3LO_FHMRUVV_FFNS/N3LO_FHMRUVV_FFNS_Pgqdn.dat
  extras/lh_bench_23/tables/MSHT/N3LO_FHMRUVV_FFNS/N3LO_FHMRUVV_FFNS_Pgqup.dat
  extras/lh_bench_23/tables/MSHT/N3LO_FHMRUVV_FFNS/N3LO_FHMRUVV_FFNS_Pqgdn.dat
  extras/lh_bench_23/tables/MSHT/N3LO_FHMRUVV_FFNS/N3LO_FHMRUVV_FFNS_Pqgup.dat
  extras/lh_bench_23/tables/MSHT/N3LO_FHMRUVV_FFNS/N3LO_FHMRUVV_FFNS_PqqPSup.dat
  extras/lh_bench_23/tables/MSHT/N3LO_MSHTposterior_FFNS/N3LO_MSHTposterior_FFNS_Pgqdn.dat
  extras/lh_bench_23/tables/MSHT/N3LO_MSHTposterior_FFNS/N3LO_MSHTposterior_FFNS_Pgqup.dat
  extras/lh_bench_23/tables/MSHT/N3LO_MSHTposterior_FFNS/N3LO_MSHTposterior_FFNS_Pqgdn.dat
  extras/lh_bench_23/tables/MSHT/N3LO_MSHTposterior_FFNS/N3LO_MSHTposterior_FFNS_Pqgup.dat
  extras/lh_bench_23/tables/MSHT/N3LO_MSHTposterior_FFNS/N3LO_MSHTposterior_FFNS_PqqPSdn.dat
  extras/lh_bench_23/tables/MSHT/N3LO_MSHTposterior_FFNS/N3LO_MSHTposterior_FFNS_PqqPSup.dat
  extras/lh_bench_23/tables/MSHT/N3LO_MSHTprior_FFNS/N3LO_MSHTprior_FFNS_Pggdn.dat
  extras/lh_bench_23/tables/MSHT/N3LO_MSHTprior_FFNS/N3LO_MSHTprior_FFNS_Pggup.dat
  extras/lh_bench_23/tables/MSHT/N3LO_MSHTprior_FFNS/N3LO_MSHTprior_FFNS_Pgqdn.dat
  extras/lh_bench_23/tables/MSHT/N3LO_MSHTprior_FFNS/N3LO_MSHTprior_FFNS_Pqgup.dat
Due: none

remove .ds store
  extras/lh_bench_23/tables/MSHT/.DS_Store
Due: none

rust: Run cargo format
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike.rs
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike/as2.rs
Due: fmt-ekore

Port #362 to Rust
  crates/eko/src/mellin.rs
Due: fmt-eko

rust: Fix documentation
  crates/eko/src/bib.rs
  crates/eko/src/lib.rs
  crates/eko/src/mellin.rs
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike/as2.rs
  crates/ekore/src/harmonics/g_functions.rs
  crates/ekore/src/harmonics/polygamma.rs
Due: fmt-eko, fmt-ekore

fix typo
  extras/lh_bench_23/parse_to_latex.py
Due: none

rust: Add minor fix to as2 tests
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike/as2.rs
Due: fmt-ekore

add new fhmruvv pgq parametrization
  doc/source/refs.bib
  src/ekore/anomalous_dimensions/unpolarized/space_like/as4/fhmruvv/ggq.py
  tests/ekore/anomalous_dimensions/unpolarized/space_like/test_as4_fhmv.py
Due: none

rust: Improve as2 test case
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike/as2.rs
Due: fmt-ekore

update our Pgq parametrization
  extras/n3lo_bench/plot_msht.py
  src/ekore/anomalous_dimensions/unpolarized/space_like/as4/ggq.py
  tests/ekore/anomalous_dimensions/unpolarized/space_like/test_as4.py
Due: none

update docs
  doc/source/theory/N3LO_ad.rst
Due: none

Update doc/source/theory/N3LO_ad.rst
  doc/source/theory/N3LO_ad.rst
Due: none

build: Update flake with rust and maturin
  flake.lock
  flake.nix
Due: none

chore: Improve shebang
  rustify.sh
Due: none

build: Add common dev tools, upgrade nix shell nixpkgs
  flake.lock
  flake.nix
Due: none

as3
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike.rs
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike/as3.rs
Due: fmt-ekore

rust: Hook NNLO QCD ad in
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike.rs
Due: fmt-ekore

rust: Fix typo, add explicit nopython
  src/eko/evolution_operator/quad_ker.py
Due: none

Fix clippy warnings
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike/as3.rs
  crates/ekore/src/bib.rs
  crates/ekore/src/harmonics/cache.rs
  crates/ekore/src/harmonics/g_functions.rs
  crates/make_bib.py
  pyproject.toml
Due: fmt-ekore

starting ome
  crates/ekore/src/lib.rs
  crates/ekore/src/operator_matrix_elements.rs
  crates/ekore/src/operator_matrix_elements/unpolarized.rs
  crates/ekore/src/operator_matrix_elements/unpolarized/spacelike.rs
  crates/ekore/src/operator_matrix_elements/unpolarized/spacelike/as1.rs
Due: fmt-ekore

Update genpdf docs
  doc/source/code/genpdf.rst
Due: none

Update doc/source/code/genpdf.rst
  doc/source/code/genpdf.rst
Due: none

as1. Need some cleaning up
  crates/ekore/src/operator_matrix_elements/unpolarized/spacelike/as1.rs
Due: fmt-ekore

spacelike.rs
  crates/ekore/src/operator_matrix_elements/unpolarized/spacelike.rs
  crates/ekore/src/operator_matrix_elements/unpolarized/spacelike/as1.rs
Due: fmt-ekore

attempt to implement python hook
  crates/eko/src/lib.rs
  src/eko/evolution_operator/operator_matrix_element_rust.py
  src/eko/evolution_operator/quad_ker_ome.py
Due: fmt-eko

refactoring and adding Lsv for ome
  crates/eko/src/lib.rs
  src/eko/evolution_operator/operator_matrix_element.py
  src/eko/evolution_operator/operator_matrix_element_rust.py
  src/eko/evolution_operator/quad_ker.py
  src/eko/evolution_operator/quad_ker_ome.py
Due: fmt-eko

add zip tables
  extras/lh_bench_23/tables/EKO.zip
  extras/lh_bench_23/tables/MSHT.zip
Due: none

add evolution tables
  extras/lh_bench_23/tables/table14-part1.csv
  extras/lh_bench_23/tables/table15-part1.csv
  extras/lh_bench_23/tables/table_FFNS-1_iterate-exact.csv
  extras/lh_bench_23/tables/table_FFNS-1_truncated.csv
  extras/lh_bench_23/tables/table_FFNS-2_iterate-exact.csv
  extras/lh_bench_23/tables/table_FFNS-2_truncated.csv
  extras/lh_bench_23/tables/table_FFNS-3_iterate-exact.csv
  extras/lh_bench_23/tables/table_FFNS-3_truncated.csv
Due: none

fix path
  extras/lh_bench_23/utils.py
Due: none

fix name
  extras/lh_bench_23/run_fhmruvv.sh
Due: none

Run poetry lock
  poetry.lock
Due: none
