Repository NNPDF/eko: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt-eko, fmt-ekore

fmt-eko:
  name: fmt-eko
  description: Format eko files with cargo fmt.
  entry: cargo fmt --manifest-path crates/eko/Cargo.toml --
  language: system
  args: []

fmt-ekore:
  name: fmt-ekore
  description: Format ekore files with cargo fmt.
  entry: cargo fmt --manifest-path crates/ekore/Cargo.toml --
  language: system
  args: []

Run poetry lock
  poetry.lock
Due: none

Add cr/ekore/ad/u/spacelike
  crates/ekore/src/anomalous_dimensions.rs
  crates/ekore/src/anomalous_dimensions/unpolarized.rs
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike.rs
Due: fmt-ekore

Add cr/eko/mellin
  crates/Cargo.lock
  crates/eko/Cargo.toml
  crates/eko/src/lib.rs
  crates/eko/src/mellin.rs
Due: fmt-eko

Add quad_ker in Rust
  crates/eko/src/lib.rs
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike.rs
  crates/ekore/src/harmonics/cache.rs
  crates/ekore/src/lib.rs
Due: fmt-eko, fmt-ekore

Adjust Rust types and ranges
  crates/eko/src/lib.rs
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike.rs
Due: fmt-eko, fmt-ekore

Adjust eko to Rust
  src/eko/evolution_operator/__init__.py
  src/eko/evolution_operator/quad_ker.py
Due: none

Fight against rustdoc
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike.rs
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike/as1.rs
  crates/ekore/src/bib.rs
  crates/ekore/src/lib.rs
  pyproject.toml
Due: fmt-ekore

Test alternative bib in rust
  crates/Cargo.lock
  crates/ekore/Cargo.toml
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike/as1.rs
  crates/ekore/src/lib.rs
  crates/refs.bib
Due: fmt-ekore

Init LH23 benchmark
  extras/lh_bench_23/.gitignore
  extras/lh_bench_23/run.py
Due: none

Pass labels in apply_pdf
  src/ekobox/apply.py
  src/ekomark/benchmark/runner.py
Due: none

Clean up outdated/stub elements
  crates/ekore/src/bib.rs
  crates/ekore/src/lib.rs
Due: fmt-ekore

Fix bib path in existing references
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike/as1.rs
Due: fmt-ekore

Add katex to rust
  crates/Cargo.lock
  crates/ekore/Cargo.toml
  crates/ekore/src/harmonics.rs
  crates/ekore/src/harmonics/polygamma.rs
  crates/ekore/src/lib.rs
  crates/refs.bib
Due: fmt-ekore

fix large N NS N3LO ad limit
  doc/source/theory/Mellin.rst
  doc/source/theory/N3LO_ad.rst
  src/ekore/anomalous_dimensions/unpolarized/space_like/as4/gnsm.py
  src/ekore/anomalous_dimensions/unpolarized/space_like/as4/gnsp.py
Due: none

Dismiss PathLike internal usage in struct
  src/eko/io/struct.py
Due: none

Add test for open loading
  tests/eko/io/test_struct.py
Due: none

Implement open loading
  src/eko/io/access.py
  src/eko/io/metadata.py
  src/eko/io/struct.py
Due: none

Switch read-only default
  src/eko/io/struct.py
Due: none

Remove outdated test
  extras/matching/check-matching.py
  tests/eko/io/test_struct.py
Due: none

Split and enhance lh bench script
  extras/lh_bench_23/cards.py
  extras/lh_bench_23/run.py
Due: none

Fix and improve LH bench script
  extras/lh_bench_23/.gitignore
  extras/lh_bench_23/cards.py
  extras/lh_bench_23/cfg.py
  extras/lh_bench_23/run-nnlo.py
Due: none

Inline extract in load
  src/eko/io/struct.py
Due: none

Restrict parts public API
  src/eko/runner/managed.py
  src/eko/runner/parts.py
Due: none

Restrict operators public API
  src/eko/runner/managed.py
  src/eko/runner/operators.py
  tests/eko/runner/test_operators.py
Due: none

Update error type in struct opening test
  tests/eko/io/test_struct.py
Due: none

Drop new_op_key variable in grid
  src/eko/evolution_operator/grid.py
Due: none

Define couplings cache key type
  src/eko/couplings.py
Due: none

Define label type in apply
  src/ekobox/apply.py
Due: none

Cast labels in evop/Operator
  src/eko/evolution_operator/__init__.py
  src/eko/evolution_operator/operator_matrix_element.py
Due: none

Update src/eko/runner/operators.py
  src/eko/runner/operators.py
Due: none

Introduce OperatorLabel type
  src/eko/evolution_operator/__init__.py
  src/eko/evolution_operator/operator_matrix_element.py
  src/eko/io/types.py
Due: none

Remove list comprension in msbar
  src/eko/msbar_masses.py
Due: none

Upgrade banana
  poetry.lock
  pyproject.toml
Due: none

Upgrade bibliothek
  crates/Cargo.lock
  crates/ekore/Cargo.toml
Due: none

rust: Update doc strings
  crates/ekore/src/anomalous_dimensions.rs
  crates/ekore/src/anomalous_dimensions/unpolarized.rs
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike.rs
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike/as1.rs
  crates/ekore/src/harmonics.rs
  crates/ekore/src/harmonics/polygamma.rs
Due: fmt-ekore

rust: Add more doc strings
  crates/Cargo.lock
  crates/eko/Cargo.toml
  crates/eko/src/lib.rs
  crates/eko/src/mellin.rs
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike.rs
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike/as1.rs
  crates/ekore/src/constants.rs
  crates/ekore/src/harmonics/cache.rs
  crates/ekore/src/lib.rs
  crates/refs.bib
  pyproject.toml
Due: fmt-eko, fmt-ekore

Update ns nf^2 parametrization
  src/ekore/anomalous_dimensions/unpolarized/space_like/as4/gnsm.py
  src/ekore/anomalous_dimensions/unpolarized/space_like/as4/gnsp.py
  tests/ekore/anomalous_dimensions/unpolarized/space_like/test_as4.py
Due: none

rust: Init unit tests
  crates/Cargo.lock
  crates/eko/src/lib.rs
  crates/ekore/Cargo.toml
  crates/ekore/src/harmonics/polygamma.rs
  pyproject.toml
Due: fmt-eko, fmt-ekore

Path conditions:
  fmt-eko: any of: ^crates/eko/.*\.rs$
  fmt-ekore: any of: ^crates/ekore/.*\.rs$
